<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">


<div class="container" ng-app="bookingGrid" ng-controller="resourceForm">





<div class="row">

    <div class="col-md-6">


        <div class="form-group">
            <label class="form-label">Resource</label>
            <select class="form-control">
                <option ng-repeat="option in resourceForm.resources" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>



        <div ng-repeat="field in resourceForm.resource.fields">
            <field-directive field="field"></field-directive>
        </div>


        {{resourceForm}}


        <!--<div ng-repeat="field in resourceForm.resource.fields">-->
            <!--<div class="form-group">-->
                <!--<label class="form-label">Resource</label>-->
                <!--<input type="text" class="form-control">-->
            <!--</div>-->
        <!--</div>-->

        <div id="loadForm"></div>


    </div>
</div>




</div>

</div>
</body>
</html>