<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Form designer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container" ng-app="bookingGrid" ng-controller="resourceDesign">

    {{resource}}

    <hr>


    <p>&nbsp;</p>
    <p>&nbsp;</p>


    <div class="row">

        <div class="col-md-3">


            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-expanded="true">Overview</a>
                <a class="nav-link" id="v-pills-form-tab" data-toggle="pill" href="#v-pills-form" role="tab" aria-controls="v-pills-form" aria-expanded="true">Booking Form</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Availability</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Permissions</a>
                <a class="nav-link" id="v-pills-settingss-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Email</a>

            </div>

        </div>
        <div class="col-md-9">


            <input type="hidden" th:value="${resource.id}" id="resourceId">

            <button  ng-click="saveResource()" class="btn btn-primary">Save</button>

            <hr>



            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New field</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="newField.type" ng-init="newField.type='text'">
                                        <option value="text">Free text</option>
                                        <option value="textarea">Textarea</option>
                                        <option value="radio">Radio Boxes</option>
                                        <option value="check">Checkboxes</option>
                                        <option value="html">HTML content</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Label</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="newField.lable" ng-init="newField.lable='Field label'">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Identifier</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-class="newField.hasIdentfierError=='true' ? 'is-invalid' : ''" ng-model="newField.identifier">
                                    <div class="invalid-feedback">
                                        Identifier is required.
                                    </div>
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Help text</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="newField.helpText">
                                </div>
                            </div>





                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-legend col-sm-3">Is Required?</legend>
                                    <div class="col-sm-9">

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" value="false" ng-model="newField.isRequired" ng-init="newField.isRequired='false'"> No
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" value="true" ng-model="newField.isRequired"> Yes
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>

                            <div ng-if="newField.type == 'radio' || newField.type == 'check' ">
                                <hr>
                                <h6>Options</h6>
                                <hr>



                                    <div class="row option-list" ng-repeat="option in newField.options">
                                        <div class="col-sm-5">{{option.value}}</div>
                                        <div class="col-sm-5">{{option.label}}</div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-dark btn-sm" ng-click="removeOption(newField, option)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>






                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text" class="form-control form-control-sm" ng-class="newField.option.valueErr=='true' ? 'is-invalid' : ''" placeholder="Value" ng-model="newField.option.value"/>
                                        <div class="invalid-feedback">
                                            Invalid option Value.
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control form-control-sm" ng-class="newField.option.labelErr=='true' ? 'is-invalid' : ''" placeholder="Label" ng-model="newField.option.label"/>
                                        <div class="invalid-feedback">
                                            Invalid option Label.
                                        </div>
                                    </div>
                                    <div class="col-md-2"><button class="btn btn-dark btn-sm" ng-click="addOption(newField)"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
                                </div>




                            </div>





                            <hr>
                            <h6>Validation rules</h6>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Rule</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="newField.validation">
                                        <option value="text">Date</option>
                                        <option value="textarea">Datetime</option>
                                        <option value="radio">Time</option>
                                        <option value="checkbox">Year</option>
                                    </select>
                                </div>
                            </div>

                            <button class="btn btn-primary" ng-click="addFiseld()">Add validation rules</button>






                            {{newField}}



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="addField(newField)">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Resource</label>
                <div class="col-sm-9">
                    <select class="form-control" disabled>
                        <option>{{resource.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">When</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>




            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Note</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add new field</button>

            <br clear="both">
            <hr>

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">

                    <form>
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Resource name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" ng-model="resource.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="resource.enabled"
                                        ng-options="o.v as o.n for o in [{ n: 'Enabled', v: true },{ n: 'Disabled', v: false }]">>


                                </select>
                            </div>
                        </div>
                    </form>


                </div>
                <!-- //overview-tab-->

                <div class="tab-pane fade" id="v-pills-form" role="tabpanel" aria-labelledby="v-pills-profile-tab">




                       dd






                </div>
                <!-- //overview-form-->
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div>


        </div>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>