<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content" ng-controller="resourceDesign">









    <div class="row">

        <div class="col-md-3">


            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-expanded="true">Overview</a>
                <a class="nav-link" id="v-pills-form-tab" data-toggle="pill" href="#v-pills-form" role="tab" aria-controls="v-pills-form" aria-expanded="true">Booking Form</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Availability</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Permissions</a>
                <a class="nav-link" id="v-pills-settingss-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Email</a>

            </div>

        </div>
        <div class="col-md-9">


            <input type="hidden" th:value="${resource.id}" id="resourceId">

            <!--<button  ng-click="saveResource()" class="btn btn-primary">Save</button>-->

            <hr>



            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New field</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="newField.type" ng-init="newField.type='text'">
                                        <option value="text">Free text</option>
                                        <option value="textarea">Textarea</option>
                                        <option value="radio">Radio Boxes - Single answer</option>
                                        <option value="select">Dropdown Box - Single answer</option>
                                        <option value="check">Checkboxes - Multiple answers</option>
                                        <option value="html">HTML content</option>
                                    </select>
                                </div>
                            </div>

                            <div ng-if="newField.type != 'html'">

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Label</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="newField.label" ng-init="newField.label='Field label'">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Identifier</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-class="{'is-invalid': newField.hasIdentfierError==true}"
                                           ng-model="newField.identifier">
                                    <div class="invalid-feedback">
                                        {{newField.identifierErrMsg}}
                                    </div>
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Help text</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="newField.helpText">
                                </div>
                            </div>



                            </div>

                            <div ng-if="newField.type == 'html'">

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">HTML content</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control form-control-sm" rows="8"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div ng-if="newField.type == 'radio' || newField.type == 'check' || newField.type == 'select' ">
                                <hr>
                                <h6>Options</h6>
                                <hr>

                                <div class="alert alert-danger" role="alert" ng-show="newField.isOptionErr">
                                    Optional value is required!
                                </div>




                                    <div class="row option-list" ng-repeat="option in newField.options">
                                        <div class="col-sm-5">{{option.value}}</div>
                                        <div class="col-sm-5">{{option.label}}</div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-dark btn-sm" ng-click="removeOption(newField, option)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>






                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               ng-class="{'is-invalid': newField.option.valueErr==true}"
                                              placeholder="Value" ng-model="newField.option.value"/>
                                        <div class="invalid-feedback">
                                            Invalid option Value.
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-class="{'is-invalid': newField.option.labelErr==true}"
                                               placeholder="Label" ng-model="newField.option.label"/>
                                        <div class="invalid-feedback">
                                            Invalid option Label.
                                        </div>
                                    </div>
                                    <div class="col-md-2"><button class="btn btn-dark btn-sm" ng-click="addOption(newField)"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
                                </div>




                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="saveField(newField)">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Resource</label>
                <div class="col-sm-5">
                    <select class="form-control" disabled>
                        <option>{{resource.name}}</option>
                    </select>
                </div>
            </div>

            <!--fields-->

            <div class="row mg-bt-10" ng-repeat="field in resource.fields">
                <div class="col-sm-3">
                    <label class="form-label">{{field.label}}</label>
                </div>
                <div class="col-sm-5">


                    <div ng-if="field.type == 'text'">
                        <input type="text" class="form-control">
                    </div>

                    <div ng-if="field.type == 'textarea'">
                        <textarea class="form-control"></textarea>
                    </div>

                    <div ng-if="field.type == 'radio'">

                        <div class="form-check" ng-repeat="option in field.options">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="{{field.identifier}}" value="{{option.value}}">
                                {{option.label}}
                            </label>
                        </div>

                    </div>

                    <div ng-if="field.type == 'select'">
                        <select class="form-control">
                            <option ng-repeat="option in field.options">{{option.label}}</option>
                        </select>
                    </div>

                    <div ng-if="field.type == 'check'">


                        <div class="form-check" ng-repeat="option in field.options">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="{{field.identifier}}">
                                {{option.label}}
                            </label>
                        </div>


                    </div>


                    <div ng-if="field.type == 'html'">
                        HTML
                    </div>



                </div>
                <div class="col-sm-4">



                    <button class="btn btn-dark btn-sm" ng-click="editField(field)"><i class="fa fa-pencil" aria-hidden="true"></i></button>


                    <button class="btn btn-dark btn-sm" ng-click="removeField(field)">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-dark btn-sm" ng-click="removeField(field)">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                    </button>


                    <button class="btn btn-dark btn-sm" ng-click="removeField(field)">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>



                    <button class="btn btn-dark btn-sm" ng-click="removeField(field)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>



            <!--//fields-->



            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add new field</button>

            <br clear="both">
            <hr>

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">

                    <form>
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Resource name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" ng-model="resource.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="resource.enabled"
                                        ng-options="o.v as o.n for o in [{ n: 'Enabled', v: true },{ n: 'Disabled', v: false }]">>


                                </select>
                            </div>
                        </div>
                    </form>



                    <pre>
                           {{resource | json}}
                    </pre>


                </div>
                <!-- //overview-tab-->

                <div class="tab-pane fade" id="v-pills-form" role="tabpanel" aria-labelledby="v-pills-profile-tab">




                       dd






                </div>
                <!-- //overview-form-->
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div>


        </div>

    </div>

</div>

</div>
</body>
</html>